.cart {
  width: 30%;
  background: #cac7c77b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 17px;
  border-radius: 10px;
  .img-cart {
    width: 200px;
    height: 300px;
  }
  .cart-btn{
    display: flex;
    align-items: center;
    gap: 15px;
    .btn{
      padding: 10px 10px;
      background: rgb(6, 140, 6);
      border-radius: 6px;
      border: none;
      color: white;
    }
  }
}
