.cart {
  width: 30%;
  background: #cac7c77b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 17px;
  border-radius: 10px;
  .img-cart {
    width: 200px;
    height: 300px;
  }
}
