.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

a {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 2%;
  color: black;
}

activ {
  color: blueviolet;
}

.tel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14%;
  letter-spacing: 2%;
  color: black;
}

.car {
  width: 20px;
}
