.detal-title {
  padding: 70px 0;
  text-align: start;

  .detal-name {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
  }
}
.detal-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.detal-sviz-block{
    text-align: start;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.detal-sviz{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}